.git
.github
node_modules
__pycache__
*.pyc
.DS_Store
yarn-error.log
cypress
.editorconfig
.eslintrc
.flake8
.pre-commit-config.yaml
.releaserc
.mergify.yml
codecov.yml
crowdin.yml
cypress.config.js
commitlint.config.js
